:root{
    --purpleblue : #D2E0FB;
    --yellow : #F9F3CC;
    --darkyellow : #938f78;
    --green : #caddb9;
    --darkgreen : #545c4c;
    --purple :#DFCCFB;
    --darkpurple :#7754ac;
    --correct-Text : #00D100;
    --wrong-Text : #cf1919;
}