@font-face {
  font-family: cheeseBurger;
  src: url("../Font/Cheese\ Burger.otf");
}
@font-face {
  font-family: may;
  src: url("../Font/KanchaMay.ttf");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 1440px;
  min-width: 480px;
  background-image: url("../Art/background.svg");
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--purpleblue);
  background-image: url("../Art/backDrop.svg");
  width: 450px;
  min-width: 250px;
  max-width: 450px;
  max-height: 500px;
  border-radius: 20px;
  border: 5px solid;
}

header-1 {
  font-size: 60px;
  font-family: cheeseBurger;
}
header-2 {
  margin: 20px;
  font-size: 60px;
  font-family: cheeseBurger;
}

.inputSet,
footer {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.username,
.email,
.password,
.re-pass {
  width: 250px;
  height: 30px;
  background-color: white;
  font-family: may;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;

  outline: none;
}

.username:focus,
.username:hover,
.email:focus,
.email:hover,
.password:focus,
.password:hover,
.re-pass:focus,
.re-pass:hover {
  background-color: var(--yellow);
}
.username:focus,
.email:focus,
.password:focus,
.re-pass:focus {
  border: 2px solid var(--darkyellow);
}

.username:focus::placeholder,
.email:focus::placeholder,
.password:focus::placeholder,
.re-pass:focus::placeholder {
  font-family: may;
  font-weight: 600;
  color: var(--placeholder-color, black);
}

#erroruser,
#erroremail,
#errorpass {
  margin-bottom: 10px;
}
#errorrepass {
  margin-bottom: 20px;
}
#erroruser,
#erroremail,
#errorpass,
#errorrepass {
  color: white;
  font-family: may;
  font-weight: 600;
  font-size: 12px;
  margin: 5px 5px 5px 5px;
  visibility: hidden;
}

.username::placeholder,
.email::placeholder,
.password::placeholder,
.re-pass::placeholder {
  font-family: may;
  font-weight: 600;
  color: var(--placeholder-color, gray);
}

.register {
  width: 150px;
  height: 40px;
  margin-bottom: 40px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: may;
}

.register:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.24);
  background-color: var(--purple);
  border: 2px solid var(--darkpurple);
  color: var(--darkpurple);
}

.block,
header-1,
header-2,
.username,
.username::placeholder,
.email,
.email::placeholder,
.password,
.password::placeholder,
.re-pass,
.re-pass::placeholder,
.register,
#erroruser,
#erroremail,
#errorpass,
#errorrepass {
  transition-duration: 0.4s;
}

/* Add the following styles for the password rules box */
.password-rules {
  position: absolute;
  top: 56%; /* Adjust the top position as needed */
  left: 62%; /* Adjust the left position as needed */
  width: 270px; /* Set a fixed width or adjust as needed */
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 12px;
  display: none;
  padding: 10px;
}

.password-rules ul {
  list-style: circle;
  list-style-position: inside;
  padding: 0;
}

.password-rules li {
  margin: 5px 0;
  color: var(--wrong-Text);
}

span-1 {
  background-color: var(--wrong-Text);
  border-radius: 5px;
  padding: 2px;
}

.passInput {
  padding: 0px;
  margin: 0px;
  display: flex;
}

#shBtn1,
#shBtn2 {
  position: relative;
  border-radius: 7px;
  justify-content: center;
  margin-left: -45px;
  border: 0px;
  background-color: transparent;
  transition: 1s;
}
