@font-face {
  font-family: cheeseBurger;
  src: url("../Font/Cheese\ Burger.otf");
}
@font-face {
  font-family: may;
  src: url("../Font/KanchaMay.ttf");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 1440px;
  background-image: url("../Art/background.svg");
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--purpleblue);
  background-image: url("../Art/backDrop.svg");
  width: 350px;
  min-width: 250px;
  max-width: 350px;
  max-height: 500px;
  border-radius: 20px;
  border: 5px solid;
}

header-1 {
  font-size: 60px;
  font-family: cheeseBurger;
}
header-2 {
  margin: 20px;
  font-size: 60px;
  font-family: cheeseBurger;
}

.inputSet,
footer {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

input {
  width: 250px;
  height: 30px;
  background-color: white;
  font-family: may;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;

  outline: none;
}

input:focus,
input:hover {
  background-color: var(--yellow);
}
input:focus {
  border: 2px solid var(--darkyellow);
}

input:focus::placeholder {
  font-family: may;
  font-weight: 600;
  color: var(--placeholder-color, black);
}

span-1,
span-2,
span-3 {
  margin-bottom: 10px;
}
span-4 {
  margin-bottom: 20px;
}
span-1,
span-2,
span-3,
span-4 {
  margin-top: 5px;
  visibility: hidden;
}

input::placeholder {
  font-family: may;
  font-weight: 600;
  color: var(--placeholder-color, gray);
}

.register {
  width: 150px;
  height: 40px;
  margin-bottom: 40px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: may;
}

.register:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.24);
  background-color: var(--purple);
  border: 2px solid var(--darkpurple);
  color: var(--darkpurple);
}

.block,
header-1,
header-2,
input,
input::placeholder,
.register,
span-1,
span-2,
span-3,
span-4 {
  transition-duration: 0.4s;
}
